*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    background-color: $bg-color;
    color: $color-font;
}

a {
    transition: 0.1s linear;

    &:hover {
        color: $primary;
    }
}

p {
    margin: 2rem 0;
    line-height: 1.4em;

    &:last-of-type {
        margin-bottom: 0;
    }
}

h1,
h2 {
    margin-bottom: 20px;
    max-width: 100%;
}

.mb-20 {
    margin-bottom: 20px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        text-align: center;
    }
}

.full-sized {
    height: 100vh;
    width: 100%;

    img {
        max-width: 200px;
    }
}
